@using FacturacionEMCSite.StringResources;

@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/productosManager/jsProductosManager.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

<script>
    var urlUploadDataImg = '@Url.Action("UploadDataImg", "ProductosManager")';
    var urlUploadParametrosImg = '@Url.Action("UploadParametrosImg", "ProductosManager")';
    var urlGetProductos = '@Url.Action("GetProductos", "Producto")';
    var urlGetImgInfoProductosUploads = '@Url.Action("GetImgInfoProductosUploads", "ProductosManager")';
</script>


<div class="card" style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:dimgray">

            <div class="form-group row">
                <div class="col-md-3 text-md-right">
                    <label class="control-label">@Resources.Article *</label>
                </div>
                <div class="col-md-8">
                    <input type="file" id="theFile" name="theFile" multiple accept="image/png, image/jpeg, image/jpg, image/gift" class="btn btn-light form form-control" />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">@Resources.Name *</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="nombreArticulo" class="form form-control" />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">@Resources.Category  </label>
                </div>
                <div class="col-md-8">
                    <select id="lstArticulo" name="lstArticulo" class="form-control form-control-sm" ></select>
                </div>
                  <div class="col-md-3 text-md-right">
                    <label class="control-label">@Resources.Price</label>
                </div>
                <div class="col-md-8">
                    <input type="number" id="precioArticulo" class="form form-control" />
                </div>
                 <div class="col-md-3 text-md-right">
                    <label class="control-label">@Resources.Tamaño</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="tamañoArticulo" class="form form-control" />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">@Resources.Peso </label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="pesoArticulo" class="form form-control" />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">@Resources.Description * </label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="descripcionArticulo" class="form form-control" />
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-3 text-md-right">
                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </div>
                <div class="col-md-12">
                    <input type="button" onclick="UploadFileMethod();" class="btn btn-success form-control" value=@Resources.Save  />
                </div>
            </div>

            <hr />

            <div id="imgns" class="form-group row">
                
            </div>


        </div>
    </div>
</div>