@using FacturacionEMCSite.StringResources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/facturaCompra/jsFacturaCompraResumen.js"></script>
    <link rel="stylesheet" type="text/css" href="~/js/dataTables/datatables.css" />
    <script type="text/javascript" src="~/js/dataTables/datatables.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

<script>
    var urlGetFacturas = '@Url.Action("GetFacturas","FacturaCompra")';
    var urlGetFacturasFechas = '@Url.Action("GetFacturasFechas","FacturaCompra")';
    var urlGetFacturaDetalle =  '@Url.Action("GetFacturasDetalles", "FacturaCompra")';
</script>

<div class="row" style="color: dimgray;">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                    <div class="mr-md-3 mr-xl-5">
                        <h4>@Resources.PurchasesSummary</h4>
                        <small class="mb-md-0 text-gray"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" style="margin-top:0%;">
    <div class="card-body">

        <div class="row" style="color:dimgray">
            <div class="col-md-4">
                <input type="date" id="fechaInicio" class="form-horizontal form-control" />
            </div>
            <div class="col-md-4">
                <input type="date" id="fechaFinal" class="form-horizontal form-control" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" onclick="GetFacturasFechas();"><i class="bi bi-search"> @Resources.Search</i></button>
            </div>
        </div>
        <hr />

        <input type="hidden" id="initDataTable" value="no" />
        <h4 style="color:dimgray"> </h4>
        <div class="form-horizontal" style="color:dimgray">

            <table id="tablaFacturas" class="display compact dt-center table table-striped table-light" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th>Nº</th>
                        <th>@Resources.Date</th>
                        <th>@Resources.Supplier</th>
                        <th>@Resources.RFC</th>
                        <th>@Resources.PaymentMethod</th>
                        <th>@Resources.Subtotal</th>
                        <th>@Resources.Discount</th>
                        <th>@Resources.Tax</th>
                        <th>@Resources.Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-horizontal" style="color:dimgray">
            <div class="container" style="color:dimgray;">
                <div class="modalTipo" id="modalDetalle">
                    <div class="modal-content2">
                        <span class="close" onclick="OcultarModalDetalle();">&times;</span><br /><br />
                        <table id="tablaDetalle" class="display compact dt-center table table-striped table-light" style="width:100%">
                            <thead class="thead-light">
                                <tr>
                                    <th>@Resources.Id</th>
                                    <th>@Resources.Product</th>
                                    <th>@Resources.Unit</th>
                                    <th>@Resources.Amount</th>
                                    <th>U.@Resources.Price</th>
                                    <th>@Resources.Subtotal</th>
                                    <th>@Resources.Discount</th>
                                    <th>@Resources.Tax</th>
                                    <th>@Resources.Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
