@using FacturacionEMCSite.StringResources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/venderNumero/jsIndex.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}


<script>
    var urlGetLoterias = '@Url.Action("GetLoterias", "VenderNumero")';
</script>

<div class="card" style="margin-top: 5%; background-color: white; color: dimgray;">
    <div class="card-body">
        <div class="form-horizontal" style="color: dimgray;">
            <h1 style="color:dimgray">@Resources.SellNumbers</h1><hr />

            <div class="form-group row">
                  <div class="col-md-2 text-md-right">
                    <label class="control-label">@Resources.Lottery</label>
                </div>
                <div class="col-md-6">
                    <select id="loteria"  class="form-control form-control-sm" onchange="" required></select>
                </div>
                <div class="col-md-2 text-md-right">
                    <input type="button" id="addLoteria" class="btn btn-primary" value="@Resources.Add" onclick="AddLoteria();" style="width:130px"/>
                </div>
                <div class="col-md-2 text-md-left">
                    <input type="button" id="quitLoteria" class="btn btn-danger" value="@Resources.Remove" onclick="QuitLoteria();" style="width:130px" />
                </div>
            </div>

            <hr />
          <div class="container">

                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-4">
                                <input type="button" id="uno" class="btn btn-light btn-lg btn-block" value="1" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('1','')" />
                            </div>
                            <div class="col-4">
                                <input type="button" id="dos" class="btn btn-light btn-lg btn-block" value="2" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('2','')" />
                            </div>
                            <div class="col-4">
                                <input type="button" id="tres" class="btn btn-light btn-lg btn-block" value="3" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('3','')" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <input type="button" id="cuatro" class="btn btn-light btn-lg btn-block" value="4" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('4','')" />
                            </div>
                            <div class="col-4">
                                <input type="button" id="cinco" class="btn btn-light btn-lg btn-block" value="5" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('5','')" />
                            </div>
                            <div class="col-4">
                                <input type="button" id="seis" class="btn btn-light btn-lg btn-block" value="6" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('6','')" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <input type="button" id="siete" class="btn btn-light btn-lg btn-block" value="7" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('7','')" />
                            </div>
                            <div class="col-4">
                                <input type="button" id="ocho" class="btn btn-light btn-lg btn-block" value="8" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('8','')" />
                            </div>
                            <div class="col-4">
                                <input type="button" id="nueve" class="btn btn-light btn-lg btn-block" value="9" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('9','')" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <input type="button" id="borrar" class="btn btn-light btn-lg btn-block" value="X" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('','x')" />
                            </div>
                            <div class="col-4">
                                <input type="button" id="cero" class="btn btn-light btn-lg btn-block" value="0" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('0','')" />
                            </div>
                            <div class="col-4">
                                <input type="button" id="monto" class="btn btn-light btn-lg btn-block" value="C" style="width:35px;height:35px;margin:2px;font-size:12px;" onclick="SetTicket('','c')" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-4">
                                <input type="button" id="nuevo" class="btn btn-primary" value="@Resources.New" style="width:122px;height:35px;" onclick="Nuevo()" />
                            </div>
                            <div class="col-4">
                                <input type="button" id="guardar" class="btn btn-success" value="@Resources.Save" style="width:122px;height:35px;" onclick="Guardar()" />
                            </div>
                            <div class="col-4">
                                <input type="button" id="imprimir" class="btn btn-primary" value="@Resources.Print" style="width:122px;height:35px;" onclick="Imprimir()" />
                            </div>
                        </div>

                    </div>

                    <div id="impresionante">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Nº-64564564</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" id="toLoteria" class="form-control" style="width:200px">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <textarea id="lst" class="form-control" rows="8" style="width:200px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

              </div>

          </div>


        </div>
    </div>
</div>