
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/facturaVenta/jsFacturaVenta.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}
<!--FACTURA DE VENTAS-->
<script>
    var urlGuardarFactura = '@Url.Action("GuardarFactura", "FacturaVenta")';
    var urlGuardarFacturaDetalle = '@Url.Action("GuardarFacturaDetalle", "FacturaVenta")';
    var urlGetClientes = '@Url.Action("GetClientes", "Cliente")';
    var urlAgregarCliente = '@Url.Action("AgregarCliente", "Cliente")';
    var urlGetMetodosPago = '@Url.Action("GetMetodosPago","MetodoPago")';
    var urlGetUnidadesMedida = '@Url.Action("GetUnidadesMedida","UnidadMedida")';
    var urlGetProductos = '@Url.Action("GetProductos", "Producto")';
</script>

<div class="card" style="margin-top: 5%; background-color: #e6faea; color: dimgray;">
    <div class="card-body">
        <div class="form-horizontal" style="color: dimgray;">
            <h1 style="color:dimgray">Add Sales Invoice</h1><hr />

            <div class="form-group row">
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Nº Invoice</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="nFactura" name="nFactura" class="form form-control" required />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Payment Method</label>
                </div>
                <div class="col-md-8">
                    <select id="metodoPago" name="metodoPago" class="form-control form-control-sm" onchange="" required>
                    </select>
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Client</label>
                </div>
                <div class="col-md-8">
                    <select id="cliente" name="cliente" class="form-control form-control-sm" onchange="" required>
                    </select>
                </div>
                <div class="col-md-12 text-md-right">
                     <button class="btn btn-success" onclick="MostrarModalCliente();"><i class="bi bi-plus-circle-fill"> Client</i></button>
                </div>
            </div>
        </div>
        <div>
            <h3 style="color:dimgray">Add Detail </h3>
            <div class="form-group row">
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Article</label>
                </div>
                <div class="col-md-8">
                    <select id="lstArticulo" name="lstArticulo" class="form-control form-control-sm" onchange="SetArticulo();"></select>
                </div>

                <div class="col-md-8" style="display:none;">
                    <input type="text" id="articulo" name="articulo" class="form form-control" />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Unit</label>
                </div>
                <div class="col-md-8">
                    <select id="unidad" name="unidad" class="form-control form-control-sm" onchange="" required>
                    </select>
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Description</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="descripcion" name="descripcion" class="form form-control" />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Amount</label>
                </div>
                <div class="col-md-8">
                    <input type="number" id="cantidad" name="cantidad" class="form form-control" step="1" min="0" placeholder="0" />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Price</label>
                </div>
                <div class="col-md-8">
                    <input type="number" id="precio" name="precio" class="form form-control" min="0" onblur="SubtotalLinea();" placeholder="0.0" />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">SubTotal</label>
                </div>
                <div class="col-md-8">
                    <input type="number" id="subTotalLinea" name="subTotalLinea" class="form form-control" min="0" disabled placeholder="0.0" />
                </div>
                <div class="col-md-12 text-md-right">
                          <button class="btn btn-success" onclick="AddLinea();"><i class="bi bi-plus-circle-fill"> </i></button>
                </div>
            </div>
            </div>

        <hr />
        <div class="form-horizontal" style="color:dimgray">
            <h3 style="color:dimgray">Invoice Detail </h3>
            <table id="tablaLineas" class="display compact dt-center table table-striped table-light" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th style="display:none;">Nº</th>
                        <th>Article</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <hr />
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-md-right">
                <label class="control-label">SubTotal</label>
            </div>
            <div class="col-md-8">
                <input type="number" id="subtotal" name="subtotal" class="form form-control" min="0" placeholder="0.0" readonly />
            </div>
            <div class="col-md-3 text-md-right">
                <label class="control-label">% Discount</label>
            </div>
            <div class="col-md-8">
                <input type="number" id="pDescuento" name="pDescuento" class="form form-control" min="0" placeholder="0.0" />
            </div>
            <div class="col-md-3 text-md-right">
                <label class="control-label">% Tax</label>
            </div>
            <div class="col-md-8">
                <input type="number" id="pImpuesto" name="pImpuesto" class="form form-control" min="0" placeholder="0.0" />
            </div>
            <div class="col-md-3 text-md-right">
                <label class="control-label">Total</label>
            </div>
            <div class="col-md-8">
                <input type="number" id="total" name="total" class="form form-control" min="0" placeholder="0.0" readonly />
            </div>
        </div>
        <div>
            <div class="form-group row text-center">
                <div class="col-md-6 text-md-left">
                    <input type="button" value="Save" class="btn btn-success form-control" onclick="GuardarFactura();" style="width:200px;" />
                </div>
                <div class="col-md-6 text-md-right">
                    <input type="reset" value="Cancel" class="btn btn-danger form-control" onclick="Reset()" style="width:200px;" />
                </div>
            </div>
            <hr />
        </div>

        <div class="container" style="color:dimgray;">
            <div class="modalTipo" id="modalCliente">
                <div class="modal-content2">
                    <div class="row">
                        <div class="col-md-12">
                            <h3> Add New Client</h3>
                            <div class="form-group row">
                                <label class="form form-label">Name / Social Reason </label>
                                <input type="text" id="_nombre" class="form-control text-box single-line" />
                                <label class="form form-label">RFC</label>
                                <input type="text" id="_rfc" class="form-control text-box single-line" />
                                <label class="form form-label">Email</label>
                                <input type="text" id="_email" class="form-control text-box single-line" />
                                <label class="form form-label">Address</label>
                                <input type="text" id="_direccion" class="form-control text-box single-line" />
                                <label class="form form-label">Phone Number</label>
                                <input type="text" id="_telefono" class="form-control text-box single-line" />
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="Save" class="btn btn-success" style="float:left;" onclick="AgregarCliente();" />
                                <input type="submit" value="Cancel" class="btn btn-danger" style="float:right;" onclick="OcultarModalCliente();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<input type="hidden" id="numeroLinea_" />
