@using FacturacionEMCSite.StringResources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/inicioFacturacion/jsIndex.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
<script>
    var urlUsuarioLogger = '@Url.Action("GetUsuarioLogger", "Usuario")';
    var urlSetInicioFacturacion = '@Url.Action("SetInicioFacturacion", "InicioFacturacion")';
    var urlReInicioFacturacion = '@Url.Action("ReInicioFacturacion", "InicioFacturacion")';
</script>

<div class="row" style="color: dimgray;">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="mr-md-3 mr-xl-5">
                        <div class="mr-md-3 mr-xl-5">
                            <h2>@Resources.StartInvoice</h2>
                            <a href="javacript:void(0);" onclick="MostrarModalInstrucciones();">@Resources.Instructions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<br />

<div class="card" style="margin-top:0%;">
        <div class="card-body">
            <div class="form-horizontal" style="color:dimgray">
                <small class="mb-md-0 text-gray">@Resources.StartBillingNumber</small>
                <div class="form-group row">
                    <div class="col-md-4 text-md-right">
                        <label class="control-label">@Resources.InvoiceInit</label>
                    </div>
                    <div class="col-md-4 text-md-center">
                        <input type="number" id="numeroFactura" class="form form-control" step="1" max="999999" onblur="ValidarDecimal()"/>
                    </div>
                    <div class="col-md-4 text-md-left">
                        <input type="button" id="btnSet" class="btn btn-primary" value="@Resources.Save" onclick="SetInicioFaturacion();"/>
                    </div>
                </div>

            </div>
        </div>
</div>


<div class="card" style="margin-top:0%;">
        <div class="card-body">
            <div class="form-horizontal" style="color:dimgray">
                <small class="mb-md-0 text-gray">@Resources.ResetP</small>
                <div class="form-group row">
                    <div class="col-md-12 text-md-center">
                        <input type="button"   id="btnRe" class="btn btn-warning" value="@Resources.RestartInvoiceInit" onclick="ReInicioFacturacion();"/>
                    </div>
                </div>

            </div>
        </div>
</div>


<div class="form-horizontal" style="color:dimgray">
        <div class="container" style="color:#0268b8;">
            <div class="modalTipo" id="modalInstrucciones">
                <div class="modal-content2">
                    <span class="close" onclick="OcultarModalInstrucciones();">&times;</span><br /><br />
                    <h2 style="color:#0268b8;">@Resources.Notice</h2>
                    <p class="text-left">
                        @Resources.OneP<br /><br />
                        @Resources.TwoP
                        @Resources.ExampleP<br /><br />
                        @Resources.ThreeP
                    </p>
                </div>
            </div>
        </div>
</div>