@using FacturacionEMCSite.StringResources;

@{ 
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
}

<style>
    
    li:hover {
        background-color: #5ABE33;
    }
    a:hover {
        background-color: #5ABE33;
    }
</style>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav nav-height">
        <li class="nav-item nav-profile border-bottom">
            <a href="#" class="nav-link flex-column">
                <div class="nav-profile-image">
                    <img src="~/Content/img/logo-e.png" alt="profile">
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex ms-0 mb-3 flex-column">
                     <span class="font-weight-semibold mb-1 mt-2 text-center" style="font-size:14px;" id="nombreUsuario"> </span>
                    <span class="text-secondary icon-sm text-center" style="font-size:14px;" id="emailUsuario"> </span>
                </div>
            </a>
        </li>

        <li class="pt-2 pb-1 text-center" id="head">
            <span class="nav-item-head">@Resources.Dashboard </span>
        </li>

        <li class="nav-item" id="logout">
            <a class="nav-link" href="@Url.Action("Index","Home")">
                <i class="mdi mdi-file-check menu-icon"></i>
                <span class="menu-title"> @Resources.LogOut </span>
            </a>
        </li>

        <li class="nav-item" id="usuario">
            <a class="nav-link" href="@Url.Action("Index","Usuario")">
                <i class="fa fa-group menu-icon"></i>
                <span class="menu-title"> @Resources.Users</span>
            </a>
        </li>

        <li class="nav-item" id = "tablero">
            <a class="nav-link" href="@Url.Action("About","Home")">
                <i class="mdi mdi-exponent-box menu-icon"></i>
                <span class="menu-title"> @Resources.Dashboard </span>
            </a>
        </li>

        <li class="nav-item" id = "facturaVenta">
            <a class="nav-link" href="@Url.Action("Index","FacturaVenta")">
                <i class="bi bi-bag-check-fill"></i>
                <span class="menu-title"> &nbsp;&nbsp;@Resources.SalesRecord </span>
            </a>
        </li>

        <li class="nav-item" id = "facturaCompra">
            <a class="nav-link" href="@Url.Action("Index","FacturaCompra")">
                <i class="bi bi-bag-check"></i>
                <span class="menu-title">&nbsp;&nbsp;@Resources.PurchasesRecord</span>
            </a>
        </li>

        <li class="nav-item" id="resumenFV">
            <a class="nav-link" href="@Url.Action("About","FacturaVenta")">
                <i class="bi bi-sticky-fill"></i>
                <span class="menu-title"> &nbsp;&nbsp;@Resources.SalesSummary </span>
            </a>
        </li>

         <li class="nav-item" id = "resumenFC">
            <a class="nav-link" href="@Url.Action("About","FacturaCompra")">
                <i class="bi bi-sticky"></i>
                <span class="menu-title"> &nbsp;&nbsp;@Resources.PurchasesSummary </span>
            </a>
        </li>

        <li class="nav-item" id="stock">
            <a class="nav-link" href="@Url.Action("Index","Inventario")">
                <i class="bi bi-graph-up-arrow"></i>
                <span class="menu-title"> &nbsp;&nbsp;@Resources.Stock </span>
            </a>
        </li>

        <li class="nav-item" id="asignacion">
            <a class="nav-link" href="@Url.Action("About","Inventario")">
                <i class="mdi mdi-account-key"></i>
                <span class="menu-title"> &nbsp;&nbsp;@Resources.Assignments </span>
            </a>
        </li>

        <li class="nav-item" id="inicioFacturacion">
            <a class="nav-link" href="@Url.Action("Index","InicioFacturacion")">
                <i class="bi bi-briefcase"></i>
                <span class="menu-title">&nbsp;&nbsp;@Resources.HomeBilling</span>
            </a>
        </li>

        <li class="nav-item" id = "productosManager">
            <a class="nav-link" href="@Url.Action("Index","ProductosManager")">
                <i class="bi bi-gear"></i>
                <span class="menu-title">&nbsp;&nbsp;@Resources.ManagerProducts </span>
            </a>
        </li>

        <li class="nav-item" id="productosCliente">
            <a class="nav-link" href="@Url.Action("Index","ProductosCliente")">
                <i class="bi bi-search"></i>
                <span class="menu-title">&nbsp;&nbsp;@Resources.Product </span>
            </a>
        </li>

          <li class="nav-item" id="vendeNumero">
            <a class="nav-link" href="@Url.Action("Index","VenderNumero")">
                <i class="bi bi-badge-8k"></i>
                <span class="menu-title">&nbsp;&nbsp;@Resources.Product </span>
            </a>
        </li>
    </ul>
</nav>
<script>

   
    var lis1 = ['#tablero', '#resumenFV', '#resumenFC', 
               '#asignacion', '#logout', '#usuario', 
               '#facturaVenta', '#facturaCompra', '#stock', 
               '#inicioFacturacion', '#productosManager', '#productosCliente',
               '#venderNumero'];

 $(document).ready(function () {
    console.log("ready layout!");
    setTimeout(GetCultureInfo(), 1000);
    setTimeout(GetUsuarioLogeado,1000);
    SetClassLi('active nav-item');
});

    
    function GetCultureInfo() {
        var urlGetCultureInfo = '@Url.Action("GetCultureInfo","Empresa")';
        $.ajax({
            type: "GET",
            url: urlGetCultureInfo,
            datatype: "json",
            success: function (data) {
                $('#cultureInfo').val(data);
            }
        });

        return false;
    }


    function GetUsuarioLogeado() {

        var urlGetUsuarioLogeado = '@Url.Action("GetUsuarioLogger","Usuario")';
    $.ajax({
        type: "GET",
        url: urlGetUsuarioLogeado,
        datatype: "json",
        success: function (data) {
            $('#nombreUsuario').html(data.nombre);
            $('#emailUsuario').html(data.email);
        }
    });
    return false;
}


function SetClassLi(classe) {

       for(var i = 0; i < lis1.length ; i++){
            $(lis1[i]).addClass(classe);
            console.log(lis1[i]);
       }
}



</script>

