@using FacturacionEMCSite.StringResources;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/trazabilidadEnvio/jsAbout.js"></script>
    <link rel="stylesheet" type="text/css" href="~/js/dataTables/datatables.css" />
    <script type="text/javascript" src="~/js/dataTables/datatables.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

<script>
    var urlObtenerTrazabilidadesEnvios = '@Url.Action("ObtenerTrazabilidadesEnvios","TrazabilidadEnvio")';
    var urlUpdateTrazabilidad = '@Url.Action("UpdateTrazabilidad","TrazabilidadEnvio")';
</script>

<div class="row" style="color: dimgray;">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                    <div class="mr-md-3 mr-xl-5">
                        <h4>@Resources.TraceabilityQuery</h4>
                        <small class="mb-md-0 text-gray"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" style="margin-top:0%;">
    <div class="card-body">

        <div class="row" style="color:dimgray">
            <div class="col-md-4">
                <input type="date" id="fechaInicio" class="form-horizontal form-control" />
            </div>
            <div class="col-md-4">
                <input type="date" id="fechaFinal" class="form-horizontal form-control" />
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" onclick="ObtenerTrazabilidadesEnvios();"><i class="bi bi-search"> @Resources.Search</i></button>
            </div>
        </div>
        <hr />

        <input type="hidden" id="initDataTable" value="no" />
        <div class="form-horizontal" style="color:dimgray">

            <table id="tablaRegistros" class="display compact dt-center table table-striped table-light" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th>@Resources.Id</th>
                        <th>@Resources.Name</th>
                        <th>@Resources.DocumentId</th>
                        <th>@Resources.Address</th>
                        <th>@Resources.PhoneNumber</th>
                        <th>@Resources.Email</th>
                        <th>@Resources.Date</th>
                        <th>@Resources.DateArrival</th>
                        <th>@Resources.DateDelivery</th>
                        <th>@Resources.Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>

        </div>



        <div class="container" style="color:dimgray;">
            <div class="modalTipo" id="modalEditar">
                <div class="modal-content2">
                    <div class="row">
                        <div class="col-md-12">
                            <h3> @Resources.TraceabilityEdit</h3>
                            <div class="form-group row">
                                <input type="hidden" id="_id" />
                                <label class="form form-label">@Resources.Name </label>
                                <input type="text" id="_nombre" class="form-control text-box single-line" />
                                <label class="form form-label">@Resources.DocumentId</label>
                                <input type="text" id="_dni" class="form-control text-box single-line" />
                                <label class="form form-label">@Resources.Address</label>
                                <input type="text" id="_direccion" class="form-control text-box single-line" />
                                <label class="form form-label">@Resources.PhoneNumber</label>
                                <input type="text" id="_telefono" class="form-control text-box single-line" />
                                <label class="form form-label">@Resources.Email</label>
                                <input type="text" id="_email" class="form-control text-box single-line" />
                                <label class="form form-label">@Resources.Date</label>
                                <input type="date" id="_fecha" class="form-control text-box single-line" />
                                <label class="form form-label">@Resources.DateArrival</label>
                                <input type="date" id="_fechaLlegada" class="form-control text-box single-line" />
                                <label class="form form-label">@Resources.DateDelivery</label>
                                <input type="date" id="_fechaReclamo" class="form-control text-box single-line" />
                                <label class="form form-label">@Resources.Description</label>
                                <input type="text" id="_descripcion" class="form-control text-box single-line" />
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="@Resources.Save" class="btn btn-success" style="float:left;" onclick="Editar();" />
                                <input type="submit" value="@Resources.Cancel" class="btn btn-danger" style="float:right;" onclick="CloseModalEditar();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


